<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609379178892-t17aum28emp9bga3qtvif12h7eoqs9ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609379178892-t17aum28emp9bga3qtvif12h7eoqs9ej</string>
	<key>API_KEY</key>
	<string>AIzaSyAynThlGrFgDCpZxc93LKM7rm8OLAYdlN8</string>
	<key>GCM_SENDER_ID</key>
	<string>609379178892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rchalmers.rateMe</string>
	<key>PROJECT_ID</key>
	<string>rate-me-b9462</string>
	<key>STORAGE_BUCKET</key>
	<string>rate-me-b9462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609379178892:ios:d3e2ca825320f789</string>
	<key>DATABASE_URL</key>
	<string>https://rate-me-b9462.firebaseio.com</string>
</dict>
</plist>